NEXT_PUBLIC_ALCHEMY_RPC=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
NEXT_PUBLIC_FACTORY_ADDRESS=0x270856554d11E79CcfD483b540FB4735D8aD97e9
NEXT_PUBLIC_GOVERNANCE_ADDRESS=0xef4119a233399039d4598374c9E09C82C4a421C8
NEXT_PUBLIC_TREASURY_ADDRESS=0xc8d3e179106a6b6923be23637eA0d00E901E234A
NEXT_PUBLIC_REPUTATION_ADDRESS=0xdDB8e1BE54a66Dd693160E5AceE79a5CF1368969
NEXT_PUBLIC_ONCHAIN_VERIFIER=0xc4D18d939dC5b42e9c5De683DDF94d6AB8c12e31
NEXT_PUBLIC_API_VERIFIER=0x91f6A713883d9CC0eE54039B016708C1d4188f1f
NEXT_PUBLIC_AI_VERIFIER=0x59e36b6081f94B3BB832c825e8d56997f7eB6D8E
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlYTU0NmY4Yy0zMmFlLTQ4MjgtYWFmMS1hZjA4NTdmOWY1NjkiLCJlbWFpbCI6InhzeW5rb0BzdHViYS5zayIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI5ZjVkM2EwMzMxZDNlYzE3MjM3OCIsInNjb3BlZEtleVNlY3JldCI6ImU2NTVjYTNlZjBlNTI0MTYwZDA3MzY1YmExOGE5N2E4YThlM2EwNWM0NDQ3Nzg1NWZkOTI3ZGQzNzllZjlmNjUiLCJleHAiOjE4MTAwNDY1MDh9.CJzQR-pGpNw3wTQRU9XHwEIK7AzH1z-MtYBQvbeWhFA
NEXT_PUBLIC_SQUID_URL=https://656385f6-777f-4b75-ab45-d97a4dcf588a.squids.live/pact-squid@v1/api/graphql
NEXT_PUBLIC_CHAIN_ID=11155111
