SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_KEY
PRIVATE_KEY=your_metamask_private_key
ETHERSCAN_API_KEY=your_etherscan_api_key
CHAINLINK_SUBSCRIPTION_ID=your_subscription_id
GEMINI_API_KEY=your_gemini_key
AI_ORACLE_VERIFIER=0xb2a10a4b43e3e461511A577aB144Dae59e0Fdcb0
API_VERIFIER=0x597064593A3AE2a07fDdB5bC83CbE6973ca5b000
SECRETS_SLOT_ID=0
SECRETS_VERSION=
